@tailwind base;
@tailwind components;
@tailwind utilities;



.aqua-test {
    background-color: aqua;
}

.five-sixth {
    min-height: calc(100vh*5/6);
}

.one-sixth{
    min-height: calc(100vh*1/6);
}